/* HOME SAYFASI İÇİN */

* {
    padding: 0px;
    margin: 0px;
}

.top {
    /* position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000; */
    padding: 20px;
    margin-left: 10x;
    background-color: #085E7D;
}

.üsttaraf {

    justify-content: space-between;
    display: flex;
    margin-left: 10px;
    padding: 0px;
}

.sayfakısmı ul {

    margin-left: 30px;
    font-weight: bold;
    list-style: none;
    gap: 2rem;
    display: flex;
}

.sayfakısmı ul a {

    color: white;
}

.sayfakısmı ul a:hover {
    color: black;
}

.sayfakısmı li {

    font-size: 40px;
}

.aramakısmı {
    padding-right: 30px;
    display: flex;
}

.aramakısmı input {
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 30px;
    outline: 0;
    padding-left: 10px;
    font-size: 30px;
}

.aramakısmı button {
    width: 50px;
    margin-left: 5px;
    border: none;
    border-radius: 30px;

}

.başlık {

    font-size: 60px;
    margin-top: 200px;

    text-align: center;
}

.açıklama {
    margin-right: 300px;
    margin-left: 300px;
    text-align: center;
    font-size: 20px;
}

.butonlar {
    padding-top: 10px;
    display: flex;
    justify-content: center;

}

.butonlar button {

    margin-left: 5px;
    width: 100px;
    height: 60px;
}

.buton-one button {
    margin-right: 3px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    background-color: hsl(216, 98%, 52%);
    color: white;
}

.buton-two button {
    margin-right: 3px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    background-color: #198754;
    color: white;
}

.buton-one button:hover {
    background-color: #0a4aa8;
}

.buton-two button:hover {
    background-color: #055c33;
}

.resim {
    text-align: center;

}

.ikincikısım {
    height: 500px;
    background-color: #085E7D;
}

.two-açıklama {
    color: white;
    font-size: 40px;
    padding-top: 120px;
    text-align: center;
}

.two-text {
    padding-right: 200px;
    padding-left: 200px;
    text-align: center;
    font-size: 20px;
    color: white;
}

.two-buton {
    padding-top: 20px;
    display: flex;
    justify-content: center;

}

.two-buton button {

    margin-left: 5px;
    width: 100px;
    height: 60px;
}

.twobuton-one button {
    margin-right: 3px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid orange;
    font-weight: bold;
    background-color: #085E7D;
    color: orange;
}

.twobuton-two button {
    margin-right: 3px;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    border: 2px solid white;
    font-weight: bold;
    background-color: #085E7D;

}

.twobuton-one button:hover {
    background-color: orange;
    color: black;
}

.twobuton-two button:hover {
    color: black;
    background-color: white;
}

.threecontainer {

    display: flex;
    margin-top: 25px;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;


}

.tre-foto-row {
    box-shadow: 0 2px 8px black;
    width: 500px;
    white-space: wrap;
    border: 2px solid black;
    text-align: center;
    border-radius: 10px;

}



.sonkısım {

    background-color: #085E7D;
    text-align: center;
}

.sonkısımyazı {
    font-size: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    color: white;
}

/* BLOGS SAYFASI İÇİN */
.aylar-container {
    padding-top: 80px;
padding-left: 150px;
padding-right: 940px;
    font-size: 30px;
   
}
.aylar a{
    
    color: gray;
    display: inline-block;
    width: 150px;
    padding-left: 15px;
    padding-top: 3px;
    padding-right: 20px;
    padding-bottom: 3px;
    border: 1px solid black;
}
.aylar a:hover{
    background-color: #0a4aa8;
}
.october{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.january{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.linkler{
    
    padding-top: 10;
    padding-left: 400px;
    font-size: 25px;
}



/* CONTACT SAYFASI */
